css
div{ class="listWarning";
><a not working right</a>;
font:14px Arial;
color:white;
}
div a{a:hover;
color:white;
text-decoraction: underline;
}
listSection{opacity: 1;
margin-top: 20px;
}
listClear{listDate,listTable-checkbox(
display:none;)
}