 <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="https://raw.github.com/andris9/jStorage/master/jstorage.js"></script>
<script> /* $.jStorage is now available */ </script>


  <script>
// Check if "key" exists in the storage
var value = $.jStorage.get("key");
    value = $.jStorage.get(key)
value = $.jStorage.get(key, "default value")
if(!value){
    // if not - load the data from the server
    value = load_data_from_server()
    // and save it
    $.jStorage.set("key",value);
}
</script>

