<body>
<link rel="stylesheet" type="text/css" href="1.css">
<script src="jQuery.js" type="text/javescript"></script>
<script src="jsstorage.js" type="text/javascript"></script>
<script src=".js" type="text/javascript"></script>


<div class="task-list" id="pending">
  </script>

<title>todo list</title>

  <body onload="init();">
    <ul id="todoItems">
    </ul>
    <form type="post" onsubmit="addTodo(); return false;">
      <input type="text" id="todo" name="todo" placeholder="What do you need to do?" style="width:250px;" />
      <input type="submit" value="Add Todo Item"/>
        <input type="button" value="Clear All" onclick="clearLocalContent"()></a>

  </form>
  </body>