$(document).ready(function(){
document.cookie="username=" ";
document.cookie="username=" "; expires=" ";
var x = document.cookie;//asign
document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC";//delete
function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
    }
    return "";
}
